<!doctype html>
<html>
  <head>
    <title>Questions Pages</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/questionnaire.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/questionnaire.js') }}"></script>
  </head>
  <body>
    <center><h1>Trippo Questionnaire</h1></center>

    {% for question in questions %}
      {% for option in question.options %}
        {% if option.isLeft %}
          <script>fillOptions("{{ option.text }}", true);</script>
        {% else %}
          <script>fillOptions("{{ option.text }}", false);</script>
        {% endif %}

      {% endfor %}
      <script>fillQuestions("{{ question.text }}")</script>
    {% endfor %}

    <div id = "question">
      <div id="questionText">questiontext</div>
      <div onClick = "collectAnswers(true)" id="questionOption1">question option 1</div>
      <div onClick = "collectAnswers(false)" id="questionOption2">question option 2</div>
    <div>
    <script type = "text/javascript">
      document.getElementById("questionText").innerHTML = "<center>" + questionArray[currentIndex][0] + "</center>";
      document.getElementById("questionOption1").innerHTML = "<img id = 'leftOption' src = " + questionArray[currentIndex][1][0] + " width = 50%></img>";
      document.getElementById("questionOption2").innerHTML = "<img id = 'rightOption' src = " + questionArray[currentIndex][1][1] + " width = 50%></img>";
    </script>
  </body>
</html>
